.inputOption{
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
}

.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}